$topnav-background-color: #fff;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #999;
            &:hover {
                color: #000;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

.usericonsheader{
  width: 300px;
  text-align: center;
}

.carticonsheader{
  width: 300px;
  text-align: center;
}

@media screen and (max-width: 992px) {
    .mobilerule{
      display: none;
    }

    .hedermenu{
      height: 50px;
      width: 100%;
      display: -webkit-inline-box;
    }

    .usericonsheader {
      width: 100%;
      display: block;
      top:0;
    }
    .carticonsheader{
      width: 50%;
      display: block;
      top:0;
    }
    .messages{
      width: 100px;
    }
}
